.all {
  width: 100%;
  text-align: center;
}

.up{
  margin-left: 175px;
}

.btn{
  padding: 7px 35px 7px 40px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  text-align: right;
}

.btnMas {
  background-color: rgb(34, 143, 34);
}

.btnMenos{
  background-color: rgb(200, 0, 0);
}

.num {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
}

.number {
  font-size: 80px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-bottom: 15px;
}

.text {
  padding: 5px;
  margin: 10px;
  border: 2px dotted rgba(128, 128, 128, 0.518);
  padding-left: 30px;
  padding-right: 30px;
}
