<div class="all">
  <div class="up">
    <div class="num">
        <span class="number"> {{ number }} </span>
    </div>

    <div class="column">
      <button type="button" class="btn btnMas" (click)="aumentar()" [disabled]="number===50">+</button>
      <button type="button" class="btn btnMenos" (click)="reducir()" [disabled]="number===0">-</button>
    </div>
  </div>
    <div class="caja">
      <span class="text advertencia">{{ text }}</span>
    </div>

</div>